div{
    width: 150px;
    height: 150px; 
    border: solid black 1px;
    margin: .5rem;
    display: inline-block;
}
span{
    font-size: 25px;
}
.box-red{
    background-color: red;
    color: yellow;
}
.box-black{
    background-color: black;
    color: white;
}
